        body {
            background-image: url(../imagenes/Halloween-1.jpg) ;
            background-repeat: no-repeat;
            background-size:cover;
        }
        .paginaCompleta {
            font-size: 2.5em;
            text-align:center;
            color: white;
        }
        .Cuadro_anuncios {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .Anuncio {
            border: 1px solid red;
            box-sizing: border-box;
            flex-grow: 1;
            margin: 2cm;
            display: inline-block;
        }
        .cabezaAnuncio img {
            width: 20em; 
            height: 20em;
            border-radius: 10em;
        }
        
        .textoAnuncio {
            text-align:center;
        }
        .Anuncio:hover {
            background-image: url(../imagenes/fondo-negro-fa.jpgntasmas);
        }
        .Anuncio:hover img {
            width: 30em; 
            height: 30em;
        }
